// ===========================================
// Colors
// ===========================================

// Black
$DarkBlack:                 #1b1b1b;
$Black:                     #252525;
$DarkGray:                  #676767;
$Gray:                      #b2b2b3;
$LightGray:                 #f8f8f8;

// Border
$BorderColor:               #e9e9e9;


// ===========================================
// Mixins
// ===========================================